<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Fritter: A privacy-friendly Twitter frontend for mobile devices</title>

    <meta name="author" content="Jonjo McKay">
    <meta name="description" content="Fritter: A privacy-friendly Twitter frontend for mobile devices">
    <meta name="keywords" content="fritter, twitter, privacy, mobile, android, ios, app">

    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body class="m-4 font-sans leading-normal bg-white dark:bg-black dark:text-gray-100">
<section class="max-w-2xl lg:max-w-6xl m-auto">
    <div class="flex flex-row items-center my-4">
        <img alt="Fritter logo" class="rounded-full w-16 h-16 border-2 border-solid border-gray-200 dark:border-gray-700" src="/assets/img/icon.png">

        <h1 class="ml-4 text-4xl m-0 font-black">Fritter</h1>
    </div>
</section>

{{ content }}
</body>
</html>
